
@model AbstergoCommerce.WebUI.App_Class.Cart

<script src="~/Content/Zeon/js/jquery-1.10.0.min.js"></script>
<script>
    $(function() {
        $(".pDelete").click(function () {
            var pId = $(this).attr("name");

            $.ajax({
                type: "GET",
                url: "/Home/DeleteFromCart",
                data: { id: pId },
                success: function() {
                    $.ajax({
                        type: "GET",
                        url: "/Home/Cart",
                        success: function(datum) {
                            $(".cart-all").html('');
                            $(".cart-all").html(datum);
                        }
                    });
                },
                error: function() {
                   
                }
            });
        });
    });
</script>

<div class="cart-all">
    <i class="icon-19" title="19"></i>
    @if (Model != null)
    {
        @Model.TotalAmount.ToString("c")
    }
    else
    {
        <span>O $</span>
    }
    <div class="inside-cart">
        <p>
            @if (Model != null)
            {
                <span>There @Model.Products.Sum(x => x.Item) item(s) in cart</span>
            }
            else
            {
                <span>There are no item(s) in cart</span>
            }
        </p>
        <ul>
            @if (Model != null)
            {
                foreach (var item in Model.Products)
                {
                    <li>
                        <div class="inside-cart-image">
                            @if (item.Product.Images != null)
                            {
                                <img src="@item.Product.Images.FirstOrDefault(x => x.Defaault == true).MedUrl" 
                                     alt="product name" />
                            }
                          
                        </div>
                       <a class="pDelete" name @item.Product.Id>x</a>
                            <a href="/Home/ProductDetail/@item.Product.Name">
                                @item.Product.Name
                            </a>

                        <p>Total : @item.Total.ToString("c")</p>
                        <p>Item : @item.Item</p>
                    </li>
                }
            }
         

        </ul>
    </div>
</div>

