
@model IEnumerable<AbstergoCommerce.WebUI.Models.Product>

<script src="~/Content/Zeon/js/jquery-1.10.0.min.js"></script>
<script>
    $(function() {
        $("#addtoCart").click(function() {
            var id = $(this).attr("name");
        });
    })
</script>


<div class="box">
    <div class="container">
        <div class="tesla-carousel" data-tesla-plugin="carousel" data-tesla-container=".tesla-carousel-items" data-tesla-item=">div" data-tesla-autoplay="false" data-tesla-rotate="false">
            <div class="site-title">
                <ul class="wrapper-arrows">
                    <li><i class="icon-517 prev" title="left arrow"></i></li>
                    <li><i class="icon-501 next" title="right arrow"></i></li>
                </ul>
                <div class="site-inside"><span>Products</span></div>
            </div>
            <div class="row">
                <div class="tesla-carousel-items">

        @foreach (var product in Model)
        {
            <div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-cover">
                        <div class="product-cover-hover">
                            <span>
                               <a href="/Home/ProductDetail/@product.Name">Show</a>
                            </span>
                        </div>
                        @if (product.Images.Count > 0)
                        {
                            <img src="@product.Images.FirstOrDefault(x => x.Defaault == true).MedUrl" alt="product name" />
                        }
                      
                    </div>
                    <div class="product-details">
                        <h1><a href="/Home/ProductDetail/@product.Name">@product.Name</a></h1>
                        <p>@product.Description</p>
                        <div class="product-price">
                            <a href="#" id="addtoCart" name="@product.Id">
                                <i class="icon-257" title="add to cart"></i>
                            </a>
                          
                            @product.Price
                        </div>
                    </div>
                </div>
            </div>
        }




                  
                  
                </div>
            </div>
        </div>
    </div>
</div>
